Flask==1.0.2
Flask-Cors==2.1.0
Jinja2==2.10
MarkupSafe==0.23
Werkzeug==0.15.3
click==6.7
aniso8601==0.82
gunicorn==19.5.0
itsdangerous==0.24
pymongo==3.6.0
Flask-PyMongo==2.2.0
pytz==2014.4
Flask-Mail==0.7.4
cloudinary== 1.8.0
flask-compress==1.4.0
PyJWT
passlib
